.progresses {
  display: flex;
  align-items: center;
}

.line {
  width: 20vw;
  height: 6px;
  background: var(--bs-secondary-bg-subtle);
}

.line--finished {
  background: #63d19e;
}

.step {
  display: flex;
  background-color: var(--bs-secondary-bg-subtle);
  color: var(--bs-secondary-text-emphasis);
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.step--finished {
  background-color: #63d19e;
  color: #fff;
}
