.text--green {
  color: rgb(120, 150, 41);
}

.flex-item--equal {
  flex: 1;
}

.background--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
